<div id="pergaminhos">					
	<h3>Pergaminhos</h3>
	
	<ul>
		<% for(var i = 0; i < acoes.length; i++){ %>
			<%
				var txtAcao = '';

				switch(parseInt(acoes[i].acao)){
					case 1: txtAcao ='enforcamento(s) programado'; break;
					case 2: txtAcao ='aldeão(ões) em treinamento de magia'; break;
					case 3: txtAcao ='aldeão(ões) em treinamento de história '; break;
					case 4: txtAcao ='coletando recursos'; break;
				}
				console.log(acoes[i]);
				var date = new Date();
				var momentoAtual = date.getTime();
				var tempoRestante = Math.round((acoes[i].acao_encerra - momentoAtual)/1000);
			%>
		
		
			<li><%=acoes[i].quantidade%> <%=txtAcao%>
				- <small>restam <span class="tRestante"> <%=tempoRestante%></span> segundos
				- <a href="/revogar_acao?id_acao=<%=acoes[i]._id%>">revogar ordem</a></small>
			</li>
		<% } %>
	</ul>
</div>